# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CODE\TestCase.Appium.Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
